<div *ngIf="showDiv">
  <div style="margin: auto; width: 75%">
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr mdbTableCol *ngFor="let el of this.bookList">
          <!-- <th scope="row">{{ el.id }}</th> -->
          <td>{{ el.title }}</td>
          <td>{{ el.description }}</td>
          <td>{{ el.published }}</td>
          <td> {{el.stock}} </td>

          <td>

            <button
              type="button"
              (click)="pressEdit(el)"
              class="btn btn-primary mx-3"
            >
              Edit
            </button>
            <!-- <button type="button" class="btn " data-toggle="modal" data-target="#exampleModalCenter"> -->
            <button type="button" (click)="deleteBook(el)" class="btn">
              Delete
            </button>
   
          </td>
        </tr>
      </tbody>
    </table>
    

    <div style="margin: auto; width: 25%">
      <button
        type="button"
        class="btn btn-outline-success btn-block"
        (click)="add()"
      >
        Add
      </button>
    </div>
  </div>
</div>

<div *ngIf="showDivEdit">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="p-2"><h3>Edit book:</h3></div>
      <div style="margin: 10px">
        <form #heroForm="ngForm">
          <div class="row">
            <label for="title"
              >Title
              <input
                type="text"
                class="form-control mb-4"
                name="title"
                #title="ngModel"
                [(ngModel)]="newTitle"
            /></label>
          </div>

          <div class="row">
            <label for="desc"
              >Description
              <input
                type="text"
                name="desc"
                #desc="ngModel"
                [(ngModel)]="newDescription"
                class="form-control mb-4"
            /></label>
          </div>

          <div class="row">
            <label for="date"
              >Published
              <input
                class="form-control mb-4"
                type="date"
                name="date"
                #date="ngModel"
                [ngModel]="value"
                (input)="value = getIn($event)"
            /></label>
          </div>

          <div class="row">
            <label for="date"
              >Stock
              <input
                class="form-control mb-4"
                type="number"
                name="stock"
                #stock="ngModel"
                [(ngModel)]="newStock"
            /></label>
          </div>
        </form>
      </div>

   
        <button (click)="clicked()" type="button" class="btn btn-primary mx-3">
          Save changes
        </button>
      
    </div>
  </div>

</div>

<div *ngIf="showDivAdd">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="p-2"><h3>Add book</h3></div>
      <div style="margin: 10px">
        <form #heroForm="ngForm">
          <div class="row">
            <label for="title"
              >Title
              <input type="text" class="form-control mb-4" name="title" #title
            /></label>
          </div>

          <div class="row">
            <label for="desc"
              >Description
              <input type="text" name="desc" #desc class="form-control mb-4"
            /></label>
          </div>

          <div class="row">
            <label for="date"
              >Published
              <input class="form-control mb-4" type="date" name="date" #date
            /></label>
          </div>

          <div class="row">
            <label for="number"
              >Stock
              <input class="form-control mb-4" type="number" name="number" #number
            /></label>
          </div>
        </form>
      </div>
      <div class="row">
        <button
          (click)="added(title.value, desc.value, date.value, number.value)"
          type="button"
          class="btn btn-primary mx-3"
        >
          Add book
        </button>
      
        <button
          (click)="goBack()"
          type="button"
          class="btn btn-outline-primary mx-3"
        >
          Nevermind, go back!
        </button>
      </div>
    </div>
  </div>
</div>
