
<div style="margin:auto;  width:75%" >
<table class="table table-hover">
    <thead class ="table-primary">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
        </tr>
      </thead>
    
    <tbody class="table-hover">
    <tr *ngFor="let item of this.readerList; ">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.surname}}</td>
        <td *ngIf="item.currentlyReading==true; else elseBlock">{{item.currentTitle}}</td>
        <ng-template #elseBlock><td>-</td></ng-template>
        <td>{{item.currentlyReading}}</td>
    </tr>

    <!-- make a button to stop readind a certain book so we can update the stock  -->


</tbody>
</table>
</div>