<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="">LibraryApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/readers">Reader</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/pick"> Read book </a>
      </li> 
    </ul>

    <span class="navbar-text" style="margin-right: 10px">
      <a
        class="btn btn-sm navbar-button border border-light"
        href=""
        role="button"
        >Sign up</a
      >
    </span>

    <span class="navbar-text">
      <a
        class="btn btn-sm navbar-button border border-light"
        href=""
        role="button"
        >Login</a
      >
    </span>

    <span class="navbar-text pr-2"> </span>
    <span class="navbar-text">
      <a
        class="btn btn-sm navbar-button border border-light"
        href=""
        role="button"
        >Logout</a
      >
    </span>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Library App
  </div>
  <!-- Copyright -->
</footer>
