/* You can add global styles to this file, and also import other style files */
.navbar-button {
    width: 100px;
}

.blueButton{
    background-color: #8df1e1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
