<div *ngIf="showDiv; else elseBlock">
  <div style="margin: auto; width: 75%">
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr mdbTableCol *ngFor="let el of this.bookList"  >
          <!-- <th scope="row">{{ el.id }}</th> -->
          
            <td *ngIf="el.stock > 0">{{ el.title }}</td>
            <td *ngIf="el.stock > 0">{{ el.description }}</td>
            <td *ngIf="el.stock > 0">{{ el.published }}</td>

          <td *ngIf="el.stock > 0">
            <button type="button"(click)="readBook(el)" class="btn btn-primary mx-3">Read</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #elseBlock>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <span class="p-2"><h3>Picking  " {{this.currentBookTitle}} "  to read ~</h3></span>
        <div style="margin: 10px">
          <form #readerForm="ngForm">

            <div class="row">
              <label for="ID"
                >Reader ID:
                <input type="text" name="ID" class="form-control mb-4"  #ID="ngModel"  [(ngModel)]="id"   
            
              /></label></div> 
            
  
          </form>
        </div>
        <div class="row">
          <button
            (click)="added()"
            type="button"
            class="btn btn-primary mx-3"
          >
           Start reading
          </button>
        
        </div>
      </div>
    </div>
</ng-template>